//Variables
@use "../utilities/variables" as *;

//Mixin
@use "../utilities/mixin" as *;

//H1
.contenedor-h1 {
    @include flex-center-wrap;
    background-image: url(../../img/General/fondo-h1.jpg);
    height: 750px;
    @include bg-cover;
}

h1 {
    color: $color-letra-blanco;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    border-radius: $borde-pred;
    background-color: $color-negro-overlay;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

// Botón Index //
.a-boton {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-letra-blanco;
    font-size: 1em;
    background-color: rgb(192, 23, 23);
    border: 5px solid $color-negro-overlay;
    margin: 1%;
    border-radius: $borde-pred;
    padding: 5px;
    letter-spacing: 5px;
    transition: 0.5s ease;
}

.a-boton:hover {
    background-color: rgba(192, 23, 23, 0.658);
}

//Body
body {
    font-size: 30px;
    font-family: $fuente-body;
    background-image: url(../../img/General/fondo-body.gif);
    @include bg-cover;
}

//Footer
footer {
    background-image: url(../../img/General/fondo-footer.jpg);
    @include bg-cover(center 57%);
    color: $color-letra-blanco;
    font-family: $fuente-body;
    font-size: 35px;
    padding: 15px;
}

.copyright {
    margin-top: 100px;
    @include flex-center-wrap;
    letter-spacing: 10px;
    p{
        background-color: $color-negro-overlay;
        padding: 10px 20px;
        border-radius: $borde-pred;
        opacity: 70%;
        font-family: $fuente-body;
    }
}

.nav-inferior {
    @include flex-center-wrap;
    text-transform: uppercase;
    margin-top: 100px;
    gap: 10px;
    width: 100%;
    font-size: 25px;
    letter-spacing: 10px;
}

.a-footer {
    text-decoration: none;
    margin: 1%;
    border: 5px solid black;
    border-radius: $borde-pred;
    padding: 10px 20px;
}

.facebook {
    color: $color-letra-blanco;
    background-color: blue;
}

.x {
    color: $color-letra-blanco;
    background-color: rgb(38, 38, 68);
}

.youtube {
    color: $color-letra-blanco;
    background-color: red;
}

.linkedin {
    color: $color-letra-blanco;
    background-color: rgb(9, 61, 139);
}

.instagram {
    color: $color-letra-blanco;
    background-color: rgb(139, 26, 45);
}

.tiktok {
    color: $color-letra-blanco;
    background-color: rgb(31, 30, 30);
}

//Index

.contenedor-lema {
    color: $color-negro;
    @include flex-center-wrap;
    background-color: $color-negro-overlay;
    padding: 30px;
    p{
        @include flex-center-wrap;
        padding: 10px 20px;
        border-radius: $borde-pred;
        font-family: $fuente-titulos;
        text-transform: uppercase;
        font-size: 80px;
        color: rgb(211, 214, 28);
    }
}

.boton-index {
    @include flex-center;
    background-color: $color-negro-overlay;
}

//Galería 
.contenedor-h3 {
    background-color: $color-negro;
    padding: 20px;
    h3{
        @include flex-center;
        color: $color-letra-blanco;
        text-transform: uppercase;
        font-family: $fuente-titulos;
        font-size: 38px;
        letter-spacing: 7px;
    }
    p{
        @include flex-center;
        color: $color-letra-blanco;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        background-color: $color-negro;
    }
}

.fotos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    background-color: $color-negro-overlay;
    img {
        width: 100%;
        height: 500px;
        margin: 15px;
        border: 10px $color-negro solid;
        border-radius: 35px;
    }
    a{
        text-decoration: none;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;
        p {
            width: 100%;
            @include flex-center-wrap;
            margin-bottom: 10px;
            color: $color-letra-blanco;
            font-family: $fuente-titulos;
            background-color: $color-negro;
            text-transform: uppercase;
            padding: 6px;
            border-radius: $borde-pred;
        }
    }
}

//Sobre nosotros

.contenedor-h2 {
    @include flex-center;
    @include bg-info;
    background-color: $color-negro;
    padding: 30px;
    height: 400px;
    border-radius: $borde-pred;
    text-transform: uppercase;
    h2 {
        @include flex-center;
        color: $color-letra-blanco;
        background-color: $color-negro-overlay;
        padding: 15px;
        width: 100%;
        border-radius: $borde-pred;
        text-transform: uppercase;
    }
}

.contenedor-h2#inicios {
    background-image: url(../../img/Sobre-nosotros/enzo-ferrari.jpg);
    background-position: center 20%;
}

.contenedor-h2#maranello {
    background-image: url(../../img/Sobre-nosotros/maranelloh2.avif);
    background-position: 20%;
}

.contenedor-h2#autos {
    background-image: (url(../../img/Sobre-nosotros/autos-h2.jpeg));
    background-position: 20%;
}

.contenedor-h2#nacimiento {
    background-image: url(../../img/Sobre-nosotros/125s-h2.avif);
    background-position: 20%;
}

.contenedor-h2#valores {
    background-image: url(../../img/Sobre-nosotros/valores-h2.jpg);
    background-position: 20%;
}

.parrafo {
    color: $color-letra-blanco;
    background-color: $color-negro;
    text-align: center;
    padding: 40px;
    font-family: $fuente-parrafo;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0;
}

.seccion-info ul {
    @include flex-center-wrap;
    padding: 100px;
    background-color: $color-negro-overlay;
    margin: 0;
    li {
        margin: 50px;
        padding: 20px;
        color: $color-letra-blanco;
        background-color: $color-negro;
        list-style: none;
        font-family: $fuente-parrafo;
        font-size: 35px;
        letter-spacing: 1px;
    }
}