$color-negro: rgb(24, 24, 22);
$color-negro-overlay: rgba(0, 0, 0, 0.699);
$fuente-parrafo: Georgia, 'Times New Roman', Times, serif;
$fuente-body: Verdana, Geneva, Tahoma, sans-serif;
$fuente-titulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$color-letra-blanco: white;
$borde-pred: 15px;
