@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin bg-cover($position: center) {
    background-size: cover;
    background-position: $position;
    background-repeat: no-repeat;
}

@mixin bg-info {
    background-repeat: no-repeat;
    background-size: cover;
}